@import '~iview/src/styles/index.less';

// Here are the variables to cover, such as:
//@primary-color: #3d3b4f;

html, body {
    min-height: 100%;
    height: 100%;
    width: 100%;
}

body {
    background: #f5f7f9;
    min-height: 100%;
    max-width: 600px;
    margin: auto;
    font: 300 1em/1.8 PingFang SC,Lantinghei SC,Microsoft Yahei,Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
}
.ivu-table-cell {
    overflow: unset;
}
.ivu-layout-sider-zero-width-trigger {
    position: fixed;
    top: 15px;
    left: 200px;
    right: auto;
    transition: all 0.2s ease-in-out;
}

.ivu-layout-sider-collapsed .ivu-layout-sider-zero-width-trigger {
    left: 0px;
}

.ivu-menu-item {
    a {
        display: block;
    }
}

a {
    color: inherit;
}

.ivu-menu-horizontal.ivu-menu-light:after {
    background: transparent;
}

.ivu-menu-item {
    i {
        margin-right: 6px;
    }
}

// markdown style
.markdown-preview {
    h1, h2, h3, h4, h5, h6, p, blockquote {
        margin: 1em auto;
    }
    code { 
        background-color: #d5d5d5; 
        padding: 2px 5px; 
        border-radius: 2px; 
        font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace; 
    }
    pre {
        background-color: #282c34;
        color: #FFF;
        padding: .5em 1em;
        border-left: .4em solid #555;
        border-radius: 0 .4em .4em 0;
        code{
            background-color:transparent; 
        }
    }
    ol, ul {
        list-style-position: inside;
    }
    b, strong {
        font-weight: bold;
    }
    blockquote {
        padding: 1em;
        font-style: italic;
        background: #CCC;
        border-radius: .3em;
        p {
            margin: 0 auto;
        }
    }
}